

<main>
  <section class="hero">
      <h1>AL FORNO</h1>
      <div>
          <p>Dove i sogni son... Pizze </p>
          <ion-icon name="pizza"></ion-icon>
      </div>
  </section>
    <section>
        <div>
            <div class="main-img-container">

            </div>
            <div>
                <p>Lorem</p>
            </div>
        </div>
    </section>
</main>

